{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Project For Noobs</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'tasks' %}">Tasks</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'create_task' %}">Create a new task</a></li>
            <li><a href="{% url 'create_project' %}">Create a new project</a></li>
        </ul>
    </nav>
</header>
<body>
    
</body>
</html>
{% block content %}
{% endblock %}
