{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<h1>Home</h1>
    <h2>{{title}}</h2>
    <img src="{% static 'the-puffy-panda-gamer.png' %}" alt="panda gamer" width ='100'>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt rem, veritatis quis error libero iusto aliquid dolore impedit, non tenetur sit ipsam incidunt magnam nobis labore dolor consequuntur reprehenderit corrupti eligendi eaque. Molestias facilis temporibus, ducimus velit placeat corporis minima vero voluptate maxime, quisquam porro fugit itaque aliquid doloribus. Explicabo id consectetur exercitationem facilis cupiditate? Ullam tempora nostrum praesentium tenetur porro veritatis quasi quis. Incidunt corporis harum error ratione molestiae temporibus, expedita velit. Animi est autem, qui ducimus obcaecati sit doloribus sunt aspernatur! Sit numquam cumque harum eum. Voluptatem ex quam cum dolores dolorum explicabo autem accusamus ad. Officiis, sunt!</p>


{% endblock %}