{% extends 'layouts/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME TO MY DJANGO APP</h1>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ad praesentium nemo ratione quas modi delectus tenetur maiores voluptas quod nobis odio, qui recusandae a sed, molestiae provident quo exercitationem.</P>
</body>
</html>
{% endblock %}