{% extends 'layouts/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TASKS</h1>
    {% for task in tasks %}
    <h2>{{task.title}}</h2>
    
    {% if task.done == False %}
    <p>Tarea Pendiente</p>

    {% else %}
    <p>Tarea Realizada</p>

    {% endif %}

    <p>{{task.description}}</p>
    <p>Project: {{task.project.name}}</p>
    <button>Delete</button>
    <button>Update</button>
    <button>&#x2705; Done</button>
    {% endfor %}

</body>
</html>
{% endblock %}